.main {
    margin: 16px auto;
    height: 1000px;
    width: 90%;

    .main__article-container--active {
        margin-top: 20px;

        .main__article-header {
            margin-bottom: 8px;
        }
    }

    .main__article-container {
        display: none;
    }


}