* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500px;
    background-color: aqua;
    letter-spacing: 1px;

    .header__backgroundImg {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .header__text-constainer {
        position: absolute;
        top: 15%;
        left: 10%;
        font-family: roboto;
        max-width: 300px;
        height: 200px;
        font-size: 30px;
        letter-spacing: 1px;
        color: white;

        .header__wellcome-text1 {
            float: left;
        }

        .header__wellcome-text2 {
            float: left;
        }

        .header__cursor {
            float: left
        }


    }

    .header__input-container {
        position: relative;
        width: 300px;
        position: absolute;
        right: 10%;
        bottom: 6%;
        border: none;
        box-shadow: 0 0 10px chartreuse;
        border-radius: 5px;
        background: black;
        color: white;
        font-size: 30px;
    }

    .fas {
        margin: 5px 0 5px 15px
    }

    .header__input {
        top: 0;
        right: 0;
        border-radius: 5%;
        position: absolute;
        text-align: center;
        background-color: black;
        border: none;
        font-size: 20px;
        height: 100%;
        color: white;

    }

    .header__menu-container {
        font-size: 0;
        position: absolute;
        left: 6%;
        bottom: 6%;

    }

    .header__menu-element {
        letter-spacing: 2px;
        cursor: pointer;
        text-align: center;
        border: non;
        font-size: 20px;
        width: 140px;
        color: rgb(0, 183, 255);
        display: inline-block;
    }

    .header__menu-element:hover {
        color: white;
    }
}